<% provide(:title, 'Profile') %>
<div class="profile row">
	<aside>
		<section class="user-profile box-field center-text container">
			<h1>
				<div class="profile-image">
					<%= gravatar_for @user %>
				</div>
				<p><%= @user.name %></p>
			</h1>
			<p><%= @user.email %></p>
		</section>
		<div class="box-field user-panel center-text container">
			<button class="btn btn-xs btn-info">Settings</button>
			<%= link_to 'Logout', logout_path, class: "btn btn-xs btn-info", method: :delete %>
		</div>
	</aside>
</div>

<div class="challenges box-field">
	<div class="new-challenge-header">
		<h3>Register new challenge:</h3>
		<div class="list-group">
			<div class="list-group-item">
				<%= form_for @new_challenge, :html => {:class => "form-inline"} do |f| %>
				<div class="form-group">
					<%= f.text_field :team_name, type: "text", class: "form-control", :placeholder => "Username/team name" %>
				</div>
				<div class="form-group">
					<div class="link-input">
						<%= f.text_field :link, type: "text", class: "form-control", :placeholder => "Competition link" %>
					</div>
				</div>
				<span class="pull-right">
					<%= f.submit "Add", class: "btn btn-primary" %>
				</span>
				<% end %>
			</div>
		</div>
	</div>
	<div class="registered-header">
		<h3>Registered challenges:</h3>
	</div>
	<div class="list-group">
		<% @challenges.each do |c|%>
		<a class="list-group-item clearfix">
			<span class="glyphicon glyphicon-eye-open"></span>
			<%= c.name%>
			<span class="pull-right">
				<button class="btn btn-xs btn-info">View</button>
				<button class="btn btn-xs btn-info">Markdown link</button>
				<button class="btn btn-xs btn-info">Update now</button>
				<button class="btn btn-xs btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</span>
		</a>
		<% end %>
	</div>
</div>
